html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

/* LAYOUT */
.container {
    max-width: 1024px;
    margin: 0 auto;
}

.row {
    padding: 80px 0;
    display: flex;
    flex-wrap: wrap;
}

.col-33 {
    padding: 24px 6px;
    width: calc(100% / 3);
}

/* HEADER */
header {
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: orangered;
    color: white;
    box-shadow: 0 1px 3px black;
}

.header--menu {
    display: flex;
    align-items: center;
    min-height: 50px;
}

.header--menu > * {
    flex: 1 0 0;
}

.header--logo img {
    display: block;
    height: 24px;
    width: auto;
}

.header--logo a {
    display: block;
    width: fit-content;
    margin: 0 auto;
}

.header--sections {
    display: flex;
    gap: 24px;
}

.header--user-area {
    text-align: right;
}

.header--user-area > a {
    padding: 6px;
}

/* CARD IMAGE */
.card--image {
    position: relative;
}

.card--alt {
    display: none;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

.col-33:hover {
    .card--alt {
        display: inline;
    }
}

.card--favorite {
    position: absolute;
    background-color: white;
    padding: 8px 12px;
    font-size: 20px;
    right: 0;
    top: 10px;
    z-index: 2;
}

.card--favorite > a:hover {
    color: red;
}

.card--tags {
    display: flex;
    gap: 4px;
    position: absolute;
    left: 0;
    bottom: 32px;
    color: white;
    font-size: 12px;
    z-index: 2;
}

.card--tags > * {
    padding: 4px 8px;
}

.card--tags .sale {
    background-color: red;
}

.card--tags .green {
    background-color: green;
}

.card--brand {
    font-size: 14px;
}

.card--name {
    font-weight: 600;
    text-transform: uppercase;
}

.card--price {
    display: inline;
    font-size: 14px;
    font-weight: 600;
    color: orangered;
}

.card--price::after {
    content: " \20AC";
}

.card--price.old-price {
    font-weight: normal;
    color: black;
    text-decoration: line-through;
}

/* FOOTER */
footer {
    background-color: rgb(39, 39, 39);
    color: white;
}

.footer--section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
}

.footer--info > h3 {
    line-height: 1.8em;
    font-size: 18px;
}

.footer--info > a {
    font-size: 14px;
    margin-right: 18px;
}

.footer--social > h4 {
    margin-bottom: 12px;
}

.footer--social > a {
    padding: 0 4px;
}

/* UTILITIES */
.display-none {
    display: none;
}

/* DEBUG */
.debug .col-33 {
    height: 600px;
    border: 1px dashed black;
}

.debug .card--favorite {
    background-color: cadetblue;
}

.debug .card--tags {
    background-color: lightseagreen;
}

.debug .card--image {
    border: 1px solid blue;
    text-align: center;
}

.debug .card--description {
    border: 1px solid red
}

.debug figure {
    height: 400px;
}

header.debug {
    background-color: orange;
}

footer.debug {
    background-color: lightslategrey;
    color: white;
}